.skillset-icon:hover {
  opacity: .5;
}

.icon-row-1,
.icon-row-2,
.icon-row-3,
.icon-row-4,
.icon-row-5 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.icon-s {
  height: 100px;
}

.js-icon {
  height: 112px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 10px;
}

.css-icon {
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .icon-s {
    height: 90px;
  }
}

@media only screen and (max-width: 450px) {
  .icon-s {
    height: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .icon-s {
    height: 70px;
  }
}
@media only screen and (max-width: 350px) {
  .icon-s {
    height: 60px;
  }
}
