.header-container {
  width: 100%;
  height: 75px;
  background-color: black;
}

.inner-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.my-name {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}

.profile-picture {
  margin-top: 10px;
  height: 140px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid black;
}
